description "<%= description %>"

setuid <%= uid %>
setgid <%= gid %>

start on runlevel [2345]
stop on runlevel [016]

expect stop
respawn

env MIX_ENV=prod
export MIX_ENV

env HOME=/home/<%= uid %>
export HOME

pre-start exec /bin/sh /opt/<%= name %>/bin/<%= name %> start

post-stop exec /bin/sh /opt/<%= name %>/bin/<%= name %> stop
