Package: <%= sanitized_name %>
Version: <%= version %>
License: <%= licenses %>
Vendor: <%= vendor %>
Architecture: <%= arch %>
Maintainer: <%= maintainers %>
Installed-Size: <%= installed_size %>
<%= if external_dependencies do %>Depends: <%= external_dependencies %><% end %>
Priority: extra
Section: misc
Homepage: <%= homepage %>
Description: <%= description %>
  <%= version %>
 .
 Automatically packaged by exrm_deb
